:root {
    --orange: #F2994A;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

/* Size */
body #img {
    width: 100%;
}

/* Mobile */
@media (max-width: 767px) {
    /* Typography */
    h1,
    #ingredients h1,
    #ingredients h2,
    #instructions h1,
    .instruction h1 {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
    }

    #ingredients h1 {
        font-size: 18px;
        line-height: 24px;
    }

    #ingredients h2 {
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 21px;
    }

    a {
        color: black;
    }

    .text p,
    #yields h1,
    #yields h2,
    #times h1,
    #times h2,
    #ingredients p,
    .instructions p,
    .instructions b,
    #instructions p {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0em;
        text-align: left;
    }

    .text p,
    #instructions p {
        font-size: 12px;
        font-style: italic;
        font-weight: 500;
        line-height: 15px;
    }

    #yields h1,
    #times h1 {
        font-size: 8px;
        font-weight: 700;
        line-height: 10px;
    }

    #yields h2,
    #times h2 {
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
    }

    #ingredients p,
    #ingredients b {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
    }

    #ingredients b {
        font-weight: 700;
    }

    .instructions p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .instructions b {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    #instructions p {
        font-weight: 400;
        line-height: 18px;
    }

    .author p,
    .author b {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }

    .author p {
        font-weight: 500;
    }

    .author b {
        font-weight: 700;
    }

    #yields i,
    #yields h2 {
        color: var(--orange);
    }

    .cube {
        width: max-content;
        height: max-content;
        padding: 0px 10px 0px 10px;
        border-radius: 6px;
        color: white;
        background: var(--orange);
    }

    .src a {
        text-decoration: none;
    }

    .author {
        text-align: center;
    }
    
    /* Position */

    #yields div,
    .time div,
    .text p,
    #ingredients p,
    .instruction p {
        margin-left: 0.5rem;
    }

    .text,
    .ingredient {
        display: flex;
        align-items: baseline;
    }
    
    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    #yields {
        display: flex;
        align-items: center;
    }

    #yields h1,
    #yields h2,
    .time h1,
    .time h2,
    .ingredient p {
        margin: 0%;
    }

    #times {
        display: flex;
        justify-content: space-between;
    }

    .time,
    .instruction {
        display: flex;
    }

    #ingredients h1,
    #instructions h1,
    .author {
        margin-bottom: 0%;
    }

    .cube {
        position: relative;
        bottom: 18px;
    }
}